<template>
    <div>
        <div class="container">
            <div class="page-header">
                <div class="container">
                    <h3>Backend</h3>
                    <nav class="nav justify-content-end">
                        <button class="btn btn-outline-danger btn-sm" @click="close()">Cerrar Sesion</button>
                    </nav>
                    <nav class="nav nav-justified">
                        <router-link class="close-post" style="" to="/"><i class="lni-arrow-left"></i></router-link>
                    </nav>
                </div>
            </div>
            <div class="header clearfix">
                <nav>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#" @click="nuevo()">Nuevo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" @click="editar()">Editar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" @click="guardar()">Guardar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" @click="eliminar()">Eliminar</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="list-group col">
                    <a :key="item.n" v-for="item of posts" href="#" class="list-group-item list-group-item-action" @click="changes(item)">{{ item.titulo }}</a>
                </div>
                <div class="jumbotron col">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Titulo</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Titulo" aria-describedby="inputGroup-sizing-sm" :readonly="option" id="titulo" v-model="objeto.titulo">
                    </div>
                    <br/>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Informacion</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Informacion" aria-describedby="inputGroup-sizing-sm" :readonly="option" id="info" v-model="objeto.info">
                    </div>
                    <br/>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Fecha</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Fecha" aria-describedby="inputGroup-sizing-sm" :readonly="option" id="fecha" v-model="objeto.fecha">
                    </div>
                    <br/>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Etiqueta</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Etiqueta" aria-describedby="inputGroup-sizing-sm" :readonly="option" id="etiqueta" v-model="objeto.etiqueta">
                    </div>
                    <br/>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Imagen</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Imagen" aria-describedby="inputGroup-sizing-sm" :readonly="option" id="img" v-model="objeto.img">
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Contenido Html</span>
                        </div>
                        <textarea class="form-control" aria-label="Contenido Html" style="height: 160px;" :readonly="option" id="html" v-model="objeto.contenido"></textarea>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Script</span>
                        </div>
                        <textarea class="form-control" aria-label="Script" style="height: 160px;" :readonly="option" id="script" v-model="objeto.script"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="container">
            <h3>Comentarios</h3>
            <br/>
            <div :key="item.comentario" v-for="item of comments" v-show="update">
                <button type="button" class="close" aria-label="Close" @click="deleteCom(item.comentario)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="border comment-body fullwidth single_comment parent">
                    <div class="comment-author vcard comment_author col-md-1">
                        <img alt="" src="https://secure.gravatar.com/avatar/712c21af6082d78fa52662aa5fb41de3?s=130&amp;d=mm&amp;r=g" class="avatar avatar-130 photo" width="35" height="35">
                    </div>
                    <div class="comment-meta commentmetadata col-md-11 comment_body relative">
                        <div class="vc_row">
                            <div class="author_name vc_col-md-5">{{item.nombre}}:</div>
                        </div>
                        <p></p><p>{{item.comentario}}</p><p></p>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    beforeCreate(){
        let admin = ''
        try{
            admin = localStorage.getItem("JosTecHQ_admin")
        }catch(e){
            console.log(error, e)
        }
        if(admin == 'true'){
            alert("Bienvenido!")
        } else {
            alert("Inicia sesion como administrador!")
            this.$router.push("/")
        }
    },
    created(){
        this.lister()
        this.comm()
    },
    mounted(){
        this.readOnly(true);
    },
    data(){
        return {
            urlGet: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/getPosts',
            urlAdd: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/addPost',
            urlUpdate: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/updatePost',
            urlDelete: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/removePost',
            datos_db: [],
            status: localStorage.getItem("JosTecHQ_status"),
            objeto: {
                n: '',
                titulo: '',
                info: '',
                fecha: '',
                etiqueta: '',
                img: '',
                contenido: '',
                script: '',
            },
            option: true,
            comments: [],
            update: true,
            urlGetComs: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/GetAllComs',
            urlDeleteCom: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/deleteComment',
        }
    },
    methods: {
        comm(){
            this.$http.post(this.urlGetComs).then(response => {
                this.comments = response.body
                this.update = true
            })
        },
        deleteCom(com){
            if(this.status=="active"){
                this.$http.post(this.urlDeleteCom+'?comment='+com).then(response => {
                    console.log(response)
                    this.update = false
                    this.comm()
                })
            }
        },
        lister(){
            this.$http.post(this.urlGet).then(response => {
                this.datos_db = response.data;
            })
        },
        changes(item){
            this.objeto=item
            this.readOnly(true);
        },
        nuevo(){
            this.readOnly(false);
            this.objeto = {
                n: this.datos_db.length,
                titulo: '',
                info: '',
                fecha: '',
                etiqueta: '',
                img: '',
                contenido: '',
                script: '',
            }
        },
        editar(){
            this.readOnly(false);
        },
        guardar(){
            if(this.status=="active"){
                if(this.objeto.n == this.datos_db.length){
                    this.action(this.urlAdd+'?number='+this.objeto.n+'&titulo='+this.objeto.titulo+'&info='+this.objeto.info+'&fecha='+this.objeto.fecha+'&etiqueta='+this.objeto.etiqueta+'&img='+this.objeto.img+'&contenido='+this.objeto.contenido+'&script='+this.objeto.script)
                    console.log("nuevo")
                } else if (this.datos_db[this.objeto.n]){
                    this.action(this.urlUpdate+'?number='+this.objeto.n+'&titulo='+this.objeto.titulo+'&info='+this.objeto.info+'&fecha='+this.objeto.fecha+'&etiqueta='+this.objeto.etiqueta+'&img='+this.objeto.img+'&contenido='+this.objeto.contenido+'&script='+this.objeto.script)
                    console.log("dataBase")
                } else {
                    alert("ya valio :v")
                }
                alert("guardado!")
                this.readOnly(true)
                this.lister()
            }
        },
        eliminar(){
            if(this.status=="active"){
                if(this.objeto.n == this.datos_db.length){
                    console.log("nuevo")
                } else if (this.datos_db[this.objeto.n]){
                    this.datos_db.splice(this.objeto.n, 1)
                    this.action(this.urlDelete+'?number='+this.objeto.n)
                    console.log("dataBase")
                } else {
                    alert("ya valio :v")
                }
                this.nuevo()
                this.readOnly(true)
                this.$router.push('/Backend')
            }
        },
        readOnly(value){
            this.option = value
        },
        action(url){
            this.$http.post(url).then(response => {
                alert(response.statusText)
            })
        },
        close(){
            localStorage.removeItem("JosTecHQ_userName")
            this.$router.push('/')
        }
    },
    computed: {
        posts: {
            get(){
                let list = []
                for(var x=0;x<this.datos_db.length;x++){
                if(this.datos_db[x].titulo)
                    list.push(this.datos_db[x]);
                };
                return list;
            },
            set(){

            }
        }
    }
}
</script>

<style>

</style>
