<template>
    <div class="section-body">
      <div v-html="content" id="contenido-post-abierto">
      </div>
      <br/>
      <br/>
      <comments :id="id"></comments>
    </div>
</template>

<script>
import comments from "./Comments.vue"

export default {
    props: ['content','script','id'],
    components: {
        comments
    },
    data() {
        return {

        }
    },
    mounted(){
        this.loadScript()
    },
    methods: {
        loadScript() {
            var scrpt = document.createElement('script');
            scrpt.innerHTML = this.script;
            document.getElementById('contenido-post-abierto').appendChild(scrpt);
        }
    }
}
</script>

<style>

</style>
