<template>
    <div class="container">
        <h3>Comentarios</h3>
        <div :key="item.comentario" v-for="item of comments" v-show="update">
            <div class="border comment-body fullwidth single_comment parent">
                <div class="comment-author vcard comment_author col-md-1">
                    <img alt="" src="https://secure.gravatar.com/avatar/712c21af6082d78fa52662aa5fb41de3?s=130&amp;d=mm&amp;r=g" class="avatar avatar-130 photo" width="35" height="35">
                </div>
                <div class="comment-meta commentmetadata col-md-11 comment_body relative">
                    <div class="vc_row">
                        <div class="author_name vc_col-md-5">{{item.nombre}}:</div>
                    </div>
                    <p></p><p>{{item.comentario}}</p><p></p>
                </div>
            </div>
            <br/>
        </div>
        <br/><br/><br/>
        <div v-show="nombre">
            <h6><strong>Agregar Comentario</strong></h6>
            <div class="border comment-body fullwidth single_comment parent">
                <div class="comment-author vcard comment_author col-md-1">
                    <img alt="" src="https://secure.gravatar.com/avatar/712c21af6082d78fa52662aa5fb41de3?s=130&amp;d=mm&amp;r=g" class="avatar avatar-130 photo" width="35" height="35">
                </div>
                <div class="comment-meta commentmetadata col-md-11 comment_body relative">
                    <div class="vc_row">
                        <div class="author_name vc_col-md-5">{{nombre}}:</div>
                    </div>
                    <textarea class="form-control" aria-label="Script" style="height: 120px;" v-model="text"></textarea>
                </div>
                <span class="reply_button1 col-md-3 text-left">
                    <button rel="nofollow" class="btn btn-success" aria-label="Responder a Javier" @click="addComment()">Agregar comentario</button>            
                </span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['id'],
    created(){
        console.log(this.id)
        this.getComments()
    },
    data(){
        return {
            nombre: localStorage.getItem("JosTecHQ_userName"),
            urlGet: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/getComments',
            urlAdd: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/addComment',
            comments: [],
            text: '',
            update: true,
        }
    },
    methods: {
        getComments(){
            this.$http.post(this.urlGet+'?number='+this.id).then(response => {
                console.log("recibido", response.body)
                this.comments = response.body
            })
        },
        addComment(){
            this.$http.post(this.urlAdd+'?number='+this.id+'&nombre='+this.nombre+'&comentario='+this.text).then(response => {
                console.log(response)
                this.update = false
                this.getComments()
                this.update = true
                this.text = ''
            })
        }
    }
}
</script>

<style>

</style>
