<template>
  <div id="user" class="container">
    <div class="jumbotron">
      <router-link class="close-post" style="" to="/"><i class="lni-arrow-left"></i></router-link>
      <div class="form">
          <h3>Iniciar sesión</h3>
          <div class="form-group">
              <label>Correo Electrónico</label>
              <input v-model="correo" type="email" class="form-control" placeholder="Escribe tu Correo electrónico">
          </div>
          <div class="form-group">
              <label>Contraseña</label>
              <div class="input-group mb-3">
                <input v-model="clave" :type="secret" class="form-control" placeholder="Escribe tu Contraseña">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" @click="show()">{{ button }}</button>
                </div>
              </div>
          </div>
          <button class="btn btn-primary" @click="logUser()">Iniciar sesión</button><router-link class="btn btn-success" to="/signin">Registrarse</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      urlLog: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/logUser',
      correo: "",
      clave: "",
      secret: "password",
      button: "mostrar"
    }
  },
  methods: {
    logUser() {
      if(this.correo != "" && this.clave != ""){
        this.$http.post(this.urlLog+'?correo='+this.correo+'&clave='+this.clave).then(response => {
          if(response.body && (response.body.user == 'active' || response.body.admin == true))
            this.blog(response.body.nombre, response.body.admin, response.body.user)
          else
            alert("Datos incorrectos o usuario esta desactivado")
        }).catch(e => {
          console.log('error', e)
        });
      } else {
        alert ("Datos Invalidos")
      }
    },
    show(){
      if(this.secret=="password"){
        this.secret = "text"
        this.button = "ocultar"
      } else {
        this.secret="password"
        this.button = "mostrar"
      }
    },
    blog(name, admin, status){
      localStorage.setItem("JosTecHQ_userName", name)
      localStorage.setItem("JosTecHQ_admin", admin)
      localStorage.setItem("JosTecHQ_status", status)
      if(admin == 'true'){
        this.$router.push('Backend')
      } else {
        this.$router.push('/')
      }
    }
  }
}
</script>

<style>

</style>
