<template>
    <div class="container">
                <h3>Opciones</h3>
                <nav class="nav justify-content-end">
                    <button class="btn btn-outline-danger btn-sm" @click="close()">Cerrar Sesion</button>
                </nav>
                <nav class="nav nav-justified">
                    <router-link class="close-post" style="" to="/"><i class="lni-arrow-left"></i></router-link>
                </nav>
            </div>
</template>

<script>
export default {
    methods: {
        close(){
            localStorage.removeItem("JosTecHQ_userName")
            this.$router.push('/')
        }
    }
}
</script>

<style>

</style>
