<template>
    <div class="row">
      <div :key="item.n" v-for="item of posts"
           class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a @click="open(item)" href="#blog">
              <img :src="item.img" alt="">
            </a>                
          </div>
          <div class="blog-item-text">
            <div class="date"><i class="lni-calendar"></i> {{ item.fecha }}</div>
              <h3><a @click="open(item)" href="#blog">{{ item.titulo }}</a></h3>
              <div class="meta-tags">
                <span><a href="#"><i class="lni-eye"></i> {{ randomNum() }}</a></span>
                <span><a href="#"><i class="lni-tag"></i> {{ item.etiqueta }}</a></span>
              </div>
            </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
    </div>
</template>

<script>
export default {
  props: ['datos_db'],
  data(){
    return {
      
    }
  },
  methods: {
    open(item){
      this.$emit('open', item.n)
      console.log("enviado")
    },
    randomNum(){
        var max = 25, min = 123;
        return Math.floor(Math.random() * (max - min)) + min;
    }
  },
  computed: {
    posts: {
      get(){
        let list = []
        for(var x=0;x<this.datos_db.length;x++){
          if(this.datos_db[x].titulo)
            list.push(this.datos_db[x]);
        };
        return list;
      },
      set(){

      }
    }
  }
}
</script>

<style>

</style>