<template>
    <!-- App -->
    <div id="principal">

      <!-- Header Section Start -->
      <header id="slider-area">  
        <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
          <div class="container">          
            <a class="navbar-brand" href="/"><span class="lni-bulb"></span>JosTecHQ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#slider-area">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#blog">Blog</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#features">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="https://bitbucket.org/JosLuna98/cms-blog/">Repositorio</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link page-scroll" v-if="sesion" href="correo/">Contacto</a>
                </li> 
                <li v-show="log" class="nav-item">
                  <router-link class="nav-link" to="/login">Sesión</router-link>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" @click="checkAdmin()">{{ sesion }}</a>
                </li> 
              </ul>              
            </div>
          </div>
        </nav> 

        <!-- Main Carousel Section -->
        <div id="carousel-area">
          <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-slider" data-slide-to="1"></li>
              <li data-target="#carousel-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img src="img/template/slider/bg-1.jpg" alt="">
                <div class="carousel-caption text-left">
                  <h3 class="wow fadeInRight" data-wow-delay="0.2s">Mongodb, guarda tus datos en JSONs</h3>  
                  <h2 class="wow fadeInRight" data-wow-delay="0.4s">Blog hecho con Vue.js</h2>
                  <h4 class="wow fadeInRight" data-wow-delay="0.6s">Api creada con Stitch</h4>
                  <a href="https://vuejs.org/" class="btn btn-lg btn-common btn-effect wow fadeInRight" data-wow-delay="0.9s">Vue.js</a>
                  <a href="https://www.mongodb.com/" class="btn btn-lg btn-border wow fadeInRight" data-wow-delay="1.2s">Mongodb</a>
                </div>
              </div>
              <div class="carousel-item">
                <img src="img/template/slider/bg-3.jpg" alt="">
                <div class="carousel-caption text-center">
                  <h3 class="wow fadeInDown" data-wow-delay="0.3s">Web responsive!</h3>
                  <h2 class="wow bounceIn" data-wow-delay="0.6s">Template con Bootstrap 4</h2> 
                  <h4 class="wow fadeInUp" data-wow-delay="0.9s">Una herramienta gratis que desarrolar con HTML, CSS, and JS</h4>
                  <a href="https://getbootstrap.com/docs/4.0/examples/" class="btn btn-lg btn-common btn-effect wow fadeInUp" data-wow-delay="1.2s">Ver trabajos</a>
                </div>
              </div>
              <div class="carousel-item">
                <img src="img/template/slider/bg-2.jpg" alt="">
                <div class="carousel-caption text-center">
                  <h3 class="wow fadeInDown" data-wow-delay="0.3s" style="color: black;">Estás listo para</h3>
                  <h2 class="wow fadeInRight" data-wow-delay="0.6s" style="color: black;">Mi Propio CMS-Blog</h2> 
                  <h4 class="wow fadeInUp" data-wow-delay="0.6s" style="color: black;">por José Luna</h4>
                  <a href="#blog" class="btn btn-lg btn-common wow fadeInUp page-scroll" data-wow-delay="0.9s" style="color: black;">Begin</a>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
              <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
              <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
        </div>  

      </header>
      <!-- Header Section End --> 
      
      <!-- Blog Section -->
      <section id="blog" class="section">
        <div :class="containerClass">
            <a href="#blog" class="close-post" :style="retray" @click="retraing">
            <i class="lni-arrow-left"></i>
            </a>
            <title-post :title="title" :subtitle="subtitle"></title-post>
            <component :is="currentView" :datos_db="datos_db" 
                        :content="content" :script="script"
                        :id="id"
                        v-on:open="openPost($event)"></component>
        </div>
      </section>
      <!-- Blog Section End -->

      <!-- Features Section Start -->
      <section id="features" class="section">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title">Porque escogernos</h2>
          </div>
          <div class="row">
            <!-- Start featured -->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="featured-box">
                <div class="featured-icon">
                  <i class="lni-layout"></i>
                </div>
                <div class="featured-content">
                  <div class="icon-o"><i class="lni-layout"></i></div>
                  <h4>Diseño Fresco</h4>
                </div>
              </div>
            </div>
            <!-- End featured -->
            <!-- Start featured -->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="featured-box">
                <div class="featured-icon">
                  <i class="lni-tab"></i>
                </div>
                <div class="featured-content">
                  <div class="icon-o"><i class="lni-tab"></i></div>
                  <h4>Multiplataforma</h4>
                </div>
              </div>
            </div>
            <!-- End featured -->
            <!-- Start featured -->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="featured-box">
                <div class="featured-icon">
                  <i class="lni-rocket"></i>
                </div>
                <div class="featured-content">
                  <div class="icon-o"><i class="lni-rocket"></i></div>
                  <h4>Rápido y Ligero</h4>
                </div>
              </div>
            </div>
            <!-- End featured -->
            <!-- Start featured -->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="featured-box">
                <div class="featured-icon">
                  <i class="lni-database"></i>
                </div>
                <div class="featured-content">
                  <div class="icon-o"><i class="lni-database"></i></div>
                  <h4>Optimizacion SEO</h4>
                </div>
              </div>
            </div>
            <!-- End featured -->
            <!-- Start featured -->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="featured-box">
                <div class="featured-icon">
                  <i class="lni-leaf"></i>
                </div>
                <div class="featured-content">
                  <div class="icon-o"><i class="lni-leaf"></i></div>
                  <h4>Codigo Limpio</h4>
                </div>
              </div>
            </div>
            <!-- End featured -->
            <!-- Start featured -->
            <div class="col-lg-4 col-md-6 col-xs-12">
              <div class="featured-box">
                <div class="featured-icon">
                  <i class="lni-pencil"></i>
                </div>
                <div class="featured-content">
                  <div class="icon-o"><i class="lni-pencil"></i></div>
                  <h4>Soporte 24/7</h4>
                </div>
              </div>
            </div>
            <!-- End featured -->
          </div>
        </div>
      </section>
      <!-- Features Section End -->    

      <!-- Counter Section Start -->
      <div class="counters section bg-defult">
        <div class="container">
          <div class="row"> 
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="facts-item"> 
                <div class="icon">
                  <i class="lni-rocket"></i>
                </div>                
                <div class="fact-count">
                  <h3><span class="counter">100</span>%</h3>
                  <h4>Más rapido</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="facts-item">
                <div class="icon">
                  <i class="lni-coffee-cup"></i>
                </div>                
                <div class="fact-count">
                  <h3><span class="counter">700</span></h3>
                  <h4>Tazas de café</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="facts-item">
                <div class="icon">
                  <i class="lni-user"></i>
                </div>                
                <div class="fact-count">
                  <h3><span class="counter">10000</span>+</h3>
                  <h4>Clientes Activos</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="facts-item">
                <div class="icon">
                  <i class="lni-heart"></i>
                </div>                
                <div class="fact-count">
                  <h3><span class="counter">1689</span></h3>
                  <h4>Personas nos aman</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Counter Section End -->

      <!-- Footer Section Start -->
      <footer>
        <!-- Footer Area Start -->
        <section class="footer-Content">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <h3>Esencia</h3>
                <div class="textwidget">
                  <p>Si tú piensas que tienes la pasion, actitud y capacidad para unirtenos en la próxima gran compañía de software entonces podriamos conversar.</p>
                </div>
                <!--<ul class="footer-social">
                  <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                  <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                </ul>-->
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                <div class="widget">
                  <h3 class="block-title">Contactanos</h3>
                  <ul class="contact-footer">
                    <li>
                      <strong>Direccion :</strong> <span>Ecuador, Esmeraldas</span>
                    </li>
                    <li>
                      <strong>Telefono :</strong> <span>+593 123 456 789</span>
                    </li>
                    <li>
                      <strong>E-mail :</strong> <span><a href="#">josluna1098@gmail.com</a></span>
                    </li>
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Footer area End -->
        <!-- Copyright Start  -->
        <div id="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="site-info float-left">
                  <p>Crafted by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <!-- Copyright End -->
      </footer>
      <!-- Footer Section End --> 

      <!-- Go To Top Link -->
      <a href="#" class="back-to-top">
        <i class="lni-arrow-up"></i>
      </a>

      <div v-if="show" id="loader">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>

    </div>
    <!-- App End -->
</template>

<script>
import TitlePost from "./TitlePost.vue"
import Posts from "./Posts.vue"
import BodyPost from "./BodyPost.vue"

export default {
  name: 'principal',
  props: ['show'],
  created(){
    this.getPosts()
  },
  components: {
    TitlePost,
    Posts,
    BodyPost
  },
  data() {
    return {
      containerClass: 'container',
      urlPosts: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/getPosts',
      currentView: 'Posts',
      datos_db: [],
      title: 'Blogs',
      subtitle: 'Cada uno de estos blogs representan una actividad que he desarrollado en la clase de Graficación y Animación con el Profesor Marc.',
      content: '',
      script: '',
      retray: 'display: none;',
      log: true,
      id: -1,
    }
  },
  methods: {
    getPosts() {
      this.$http.post(this.urlPosts).then(response => {
        this.datos_db = response.data;
      });
    },
    openPost(n) {
      this.id = n
      this.containerClass = 'container jumbotron'
      this.title = this.datos_db[n].titulo
      this.subtitle = this.datos_db[n].info
      this.content = this.datos_db[n].contenido
      this.script = this.datos_db[n].script
      this.currentView = 'BodyPost'
      this.retray = ''
    },
    retraing() {
      this.containerClass = 'container'
      this.title = 'Blogs'
      this.subtitle = 'Cada uno de estos blogs representan una actividad que he desarrollado en la clase de Graficación y Animación con el Profesor Marc.'
      this.content = ''
      this.script = ''
      this.currentView = 'Posts'
      this.retray = 'display: none'
    },
    checkAdmin(){
      let admin = ''
      try{
        admin = localStorage.getItem("JosTecHQ_admin")
        console.log(admin+'1');
      }catch(e){
        console.log(error, e);
      }
      if(admin == 'true'){
        this.$router.push('/Backend')
      } else {
        this.$router.push('/profile')
      }
    }
  },
  computed: {
    sesion: {
      get(){
        let name = ''
        try{
          name = localStorage.getItem("JosTecHQ_userName")
        }catch(e){
          console.log(error, e);
        }
        if(name != undefined && name != ''){
          this.log = false;
        } else {
          this.log = true;
        }
        return name
      },
      set(){

      }
    }
  }
}
</script>

<style>

</style>


