<template>
    <div id="user" class="container">
        <div class="jumbotron">
            <router-link class="close-post" style="" to="/"><i class="lni-arrow-left"></i></router-link>
            <div class="form">
                <h3>Registro</h3>
                <div class="form-group">
                    <label>Nombre</label>
                    <input v-model="nombre" type="text" class="form-control" placeholder="Escribe tu Nombre">
                </div>
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input v-model="correo" type="email" class="form-control" placeholder="Escribe tu Correo electrónico">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input v-model="clave1" type="password" class="form-control" placeholder="Escribe tu Contraseña">
                </div>
                <div class="form-group">
                    <label>Repite Contraseña</label>
                    <input v-model="clave2" type="password" class="form-control" placeholder="Escribe tu Contraseña nuevamente">
                </div>
                <button class="btn btn-primary" @click="signUser()">Registrarse</button><router-link class="btn btn-success" to="/login">Iniciar sesión</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data(){
    return{
      urlSign: 'https://webhooks.mongodb-stitch.com/api/client/v2.0/app/api-wwfbi/service/http/incoming_webhook/signUser',
      nombre: '',
      correo: '',
      clave1: '',
      clave2: '',
    }
  },
  methods: {
    signUser() {
        if(this.nombre != "" && this.correo != "" && this.clave1 != "" && this.clave2 != "" && this.clave1 == this.clave2) {
            this.$http.post(this.urlSign+'?nombre='+this.nombre+'&correo='+this.correo+'&clave='+this.clave1).then(response => {
                alert(response.body.response);
            }).catch(e => {
                console.log('error', e)
            });
            this.$router.push('/login')
        } else {
            alert("Datos invalidos");
        }
    }
  }
}
</script>

<style>

</style>
