<template>
    <div class="section-header">          
      <h2 class="section-title" v-text="title"></h2>
      <span v-if="title=='Blogs'" v-text="title"></span>
      <div class="section-subtitle">
        <p v-text="subtitle"></p>
      </div>
    </div>
</template>

<script>
export default {
    props: ['title','subtitle']
}
</script>

<style>

</style>
