<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import { bus } from './main.js'

export default {
  name: 'app',
  data () {
    return {
      currentView: 'Principal',
      counter: true
    }
  },
  methods: {
    user(e){
      this.currentView = e;
      this.counter = false;
    }
  }
}
</script>

<style>
</style>
